.box {
  padding: 20px 5px;
  /* box-sizing: border-box; */
  border: 0px;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.16), 0px, 1px 4px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px, rgba(27, 31, 35, 0.1) 0px 1px 3px,
    rgba(0, 0, 0, 0.05) 0px 0px 10px;
  max-width: 600px;
  margin: 20px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box.success {
  /* background-color: lightgreen */
  background-color: #baffbf;
}

.box.warning {
  /* background-color: #e76f51; */
  background-color: #ffdeb4;
}

.box.alert {
  /* background-color: lightsalmon; */
  background-color: #ffb4b4;
}

.box:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(236, 235, 235, 0.5), 0 3px 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.box p.title {
  font-size: 20px;
  /* background: transparent;
    color: #024950;
    font-weight: bold;
    margin: 5px;
    text-align: center; */
}

.box p.description {
  font-size: 14px;
  /* background: transparent;
    font-size: small;
    color: #116466;
    font-weight: bold;
    margin: 0;
    text-align: center; */
}

.box button {
  width: 300px;
  margin-top: 20px;
}
