header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  border-bottom: var(--theme-border) 1px solid;
  font-size: 18px;
  padding: 0px 10px;
  overflow: hidden;
}

header .logo {
  max-width: 40px;
}
