header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  border-bottom: var(--theme-border) 1px solid;
  font-size: 20px;
  padding: 0px 10px;
  overflow: hidden;
}

header img {
  max-width: 45px;
}
