li.taskcard {
  font: 16px;
  list-style: none;
  margin: 20px 5px;
  /* margin: 8px 8px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  /* border-radius: 10px; */
  /* border: 1px solid #ddd; */
  padding: 10px;
  /* padding: 12px 16px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s, transform 0.2s;
}

li.taskcard:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); /* Slight lift on hover */
}

li.completed {
  box-shadow: rgb(48, 114, 0) 0px 1px 4px;
  /* border-left: 4px solid #2a9d8f;  */ /* Green for completed tasks */
}

li.incomplete {
  box-shadow: rgba(135, 20, 0, 0.689) 0px 1px 4px;
  /* border-left: 4px solid #e76f51;  */ /* Red for incomplete tasks */
}

button.delete {
    border: 0px;
    border-radius: 5px;
    background-color: #e63946;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete:hover {
  background-color: #d62839; /* Slightly darker hover effect */
}
