.App {
  text-align: center;
}

body {
  /* background-color: #003135; */
  background-color: whitesmoke;
}

button {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border: 0px;
  background-color: #0077b6;
}

button:hover {
  transform: scale(1.05); /* Subtle hover effect */
}

button.trigger {
  background-color: #0077b6;
}

button.trigger:hover {
  background-color: #005f87;
}

.home-link {
  text-decoration: none;
  color: #0fa4af;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.home-link:hover {
  color: var(--text-color);
}

.box {
  padding: 20px 5px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 20px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box.success {
  /* background-color: lightgreen */
  background-color: #baffbf;
}

.box.warning {
  /* background-color: #e76f51; */
  background-color: #ffdeb4;
}

.box.alert {
  /* background-color: lightsalmon; */
  background-color: #ffb4b4;
}

.box:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(236, 235, 235, 0.5), 0 3px 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.box p.title {
  font-size: 20px;
  /* background: transparent;
  color: #024950;
  font-weight: bold;
  margin: 5px;
  text-align: center; */
}
.box p.description {
  font-size: 14px;
  /* background: transparent;
  font-size: small;
  color: #116466;
  font-weight: bold;
  margin: 0;
  text-align: center; */
}

.hidden {
  display: none;
}
